<!DOCTYPE html>
<html lang="zh-CN">
{{template "public/header"}}
<body>
{{template "public/nav"}}
<div class="container" style="padding-top: 70px">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    示例项目1
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    示例项目2
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    示例项目3
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    示例项目4
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>