<!DOCTYPE html>
<html lang="zh-CN">
{{template "public/header"}}
<body>

<div class="jumbotron header-center">
    <div class="container">
        <h1>MangMang</h1>
    </div>
</div>
<div class="container">
    <div class="login-box">
        <form class="from-horizontal" action="">
            <div class="form-group">
                <label for="inputPhone">账号</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="手机号码" maxlength="11">
            </div>
            <div class="form-group">
                <label for="inputPassWord">密码</label>
                <input type="password" class="form-control" id="inputPassWord" placeholder="密码">
            </div>
            <div class="form-group">
                <p id="errMsg" style="visibility: hidden;color: red"></p>
            </div>
            <div class="form-group">
                <a type="submit" class="btn btn-default" onclick="login()">登录</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>