<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>MangMang</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../static/css/home.css">
    <script src="../static/jquery/jquery-3.3.1.min.js"></script>
    <script src="../static/js/home.js"></script>
</head>
<body style="background-color: #eee">
<div class="jumbotron header-center">
    <div class="container">
        <h1>{{.title}}</h1>
    </div>
</div>

<div class="container">
    <div style="width: 200px;margin-left: 40%;">
        <form class="from-horizontal">
            <div class="form-group">
                <label for="inputPhone">账号</label>
                <input type="text" class="form-control" id="inputPhone" placeholder="手机号码" maxlength="11">
            </div>
            <div class="form-group">
                <label for="inputPassWord">密码</label>
                <input type="password" class="form-control" id="inputPassWord" placeholder="密码">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</div>
</body>
</html>