<!DOCTYPE html>
<html lang="zh-CN">
{{template "public/header" }}
<body>
{{template "public/nav"}}
<div class="container mangmang-content">
    <div style="min-height: 300px">
        <div class="row">
            <div class="col-md-12">
                <h2>我的项目</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        示例项目1
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card ">
                    <div class="card-body">
                        示例项目2
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        示例项目3
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        示例项目4
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="min-height: 300px">
        <div class="row">
            <div class="col-md-12">
                <h2>我的任务</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table  table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">项目</th>
                        <th scope="col">状态</th>
                        <th scope="col">描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">10</th>
                        <td>示例项目1</td>
                        <td>已解决</td>
                        <td>测试</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{{template "public/footer" }}
</body>
</html>