<!DOCTYPE html>
<html lang="zh-CN">
{{template "public/header" }}
<body>
{{template "public/nav"}}
<div class="container" style="padding-top: 70px;">
    <div class="row">
        <h2>我的项目</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    示例项目1
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    示例项目2
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    示例项目3
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    示例项目4
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2>我的任务</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>项目</th>
                    <th>状态</th>
                    <th>描述</th>
                </tr>
                <tr>
                    <td>10</td>
                    <td>示例项目1</td>
                    <td>已解决</td>
                    <td>测试</td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>
</html>